{namespace job=Lanius\Jobman\ViewHelpers}

<div class="job-accordion">
    <f:for each="{jobs}" as="job">
        <div class="job-item">
            <button type="button" class="job-header">
                <span>{job.title}</span>
                <span class="toggle-icon">+</span>
            </button>

            <div class="job-body">
                <p><strong><f:translate key="job.location" />:</strong> {job.location}</p>
                <p><strong>Anstellungsart:</strong> 
                    <f:if condition="{job.employmentType} == 'CONTRACTOR'">
                    <span class="jobman-tile__type">
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.contractor"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>



                <f:if condition="{job.employmentType} == 'FULL_TIME'">
                    <span class="jobman-tile__type">
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.fulltime"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>


                <f:if condition="{job.employmentType} == 'PART_TIME'">
                    <span class="jobman-tile__type">
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.parttime"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>


                <f:if condition="{job.employmentType} == 'TEMPORARY'">
                    <span class="jobman-tile__type">
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.temporary"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>


                <f:if condition="{job.employmentType} == 'INTERN'">
                    <span class="jobman-tile__type">
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.intern"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>

                <f:if condition="{job.employmentType} == 'VOLUNTEER'">
                    <span class="jobman-tile__type">
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.volunteer"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>

                <f:if condition="{job.employmentType} == 'PER_DIEM'">
                    <span class="jobman-tile__type">
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.per_diem"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>
                </p>
                <f:format.raw>{job.description}</f:format.raw>
                <f:if condition="{job.remote}">
    <p class="text-muted fst-italic mb-1">
        <f:translate key="job.remote" languageKey="{job:languageKey()}" />
        <f:if condition="{job.remoteType}">
            <span class="badge bg-info ms-2">
                <f:switch expression="{job.remoteType}">
                    <f:case value="HYBRID">
                        <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.remoteType.hybrid" languageKey="{job:languageKey()}" />
                    </f:case>
                    <f:case value="FULL_REMOTE">
                        <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.remoteType.full_remote" languageKey="{job:languageKey()}" />
                    </f:case>
                    <f:case value="REMOTE_EU">
                        <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.remoteType.remote_eu" languageKey="{job:languageKey()}" />
                    </f:case>
                    <f:case value="REMOTE_WORLD">
                        <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.remoteType.remote_world" languageKey="{job:languageKey()}" />
                    </f:case>
                </f:switch>
            </span>
        </f:if>
    </p>
</f:if>
                <f:if condition="{job.salary}">
                        <p><strong><f:translate key="job.salary" />:</strong> {job.salary}</p>
                    </f:if>


                <f:if condition="{settings.detailButton}">
                        <f:then>
                            <div class="jobDescription">
                                <f:format.raw>
                                    {job.description -> f:format.crop(maxCharacters: 150, append: '…')}
                                </f:format.raw>
                                <f:link.action action="show" arguments="{job: job}" class="btn btn-primary mt-2">
                                    <f:translate 
                                        key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.showDetail"
                                        languageKey="{job:languageKey()}" 
                                    />
                                </f:link.action>
                            </div>
                        </f:then>
                        <f:else>
                            <div class="jobDescription">
                                <h3>
                                    <f:translate 
                                        key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.jobHeadline"
                                        languageKey="{job:languageKey()}" 
                                    />
                                </h3>
                                <f:format.raw>{job.description}</f:format.raw>
                            </div>
                        </f:else>
                    </f:if>


            </div>
        </div>
    </f:for>
</div>