
button[data-modulemenu-identifier="jobman"] {
    background: #1e293b;
    color: #ffffff;
    border-radius: 6px;
}

button[data-modulemenu-identifier="jobman"]:hover {
    background: #334155;
}


a[data-modulemenu-identifier="jobman_dashboard"], 
a[data-modulemenu-identifier="jobman_jobs"] {
    background: #0f172a;
    color: #cbd5e1;
    border-radius: 4px;
}

a[data-modulemenu-identifier="jobman_dashboard"]:hover,
a[data-modulemenu-identifier="jobman_jobs"]:hover {
    background: #1e293b;
    color: #ffffff;
}


[data-modulemenu-identifier="jobman"] .modulemenu-icon svg rect:first-child {
    fill: #c4002f;
}

.modulemenu-group[data-modulemenu-level="1"]
button[data-modulemenu-identifier="jobman"] {
    background: linear-gradient(135deg, #0ea5e9, #6366f1);
}
