

<f:if condition="{listView} == 'accordion'">

    <f:if condition="{accordionType} == 'custom'">
        <f:render partial="Accordion/Custom" arguments="{jobs: jobs}" />
    </f:if>

    <f:if condition="{accordionType} == 'bootstrap'">
        <f:render partial="Accordion/Bootstrap" arguments="{jobs: jobs}" />
    </f:if>

</f:if>



<f:if condition="{listView} == 'list'">
        <f:render partial="List/List" arguments="{jobs: jobs}" />
</f:if>

<f:if condition="{listView} == 'tiles'">
        <f:render partial="Tiles/Tiles" arguments="{jobs: jobs, tileColumns: settings.tileColumns}" />
</f:if>




