{namespace job=Lanius\Jobman\ViewHelpers}



<div class="jobman-job-detail">

    <!-- Back link -->
    <div class="jobman-job-detail__back">
        <f:link.action action="list" class="jobman-job-detail__backlink">
            <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.backToList"
                languageKey="{job:languageKey()}" />
        </f:link.action>
    </div>

    <!-- Header -->
    <header class="jobman-job-detail__header">
        <h1 class="jobman-job-detail__title">{job.title}</h1>

        <ul class="jobman-job-detail__meta">
            <f:if condition="{job.location}">
                <li>
                    📍 <span>{job.location}</span>
                </li>
            </f:if>

            <f:if condition="{job.employmentType}">
                <f:if condition="{job.employmentType} == 'CONTRACTOR'">
                    <li>💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.contractor"
                languageKey="{job:languageKey()}" />
                    </li>
                </f:if>
                <f:if condition="{job.employmentType} == 'FULL_TIME'">
                    <li>💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.fulltime"
                languageKey="{job:languageKey()}" />
                    </li>
                </f:if>
                <f:if condition="{job.employmentType} == 'PART_TIME'">
                    <li>💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.parttime"
                languageKey="{job:languageKey()}" />
                    </li>
                </f:if>
                <f:if condition="{job.employmentType} == 'TEMPORARY'">
                    <li>💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.temporary"
                languageKey="{job:languageKey()}" />
                    </li>
                </f:if>
            
            <f:if condition="{job.employmentType} == 'INTERN'">
                    <li>💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.intern"
                languageKey="{job:languageKey()}" />
                    </li>
                </f:if>
                <f:if condition="{job.employmentType} == 'VOLUNTEER'">
                    <li>💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.volunteer"
                languageKey="{job:languageKey()}" />
                    </li>
                </f:if>
                <f:if condition="{job.employmentType} == 'PER_DIEM'">
                    <li>💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.per_diem"
                languageKey="{job:languageKey()}" />
                    </li>
                </f:if>
            </f:if>

            <f:if condition="{job.remote}">
                <li>
                    🌍
                    <f:if condition="{job.remoteType}">
                        <span>{job.remoteType}</span>
                    </f:if>
                    <f:else>
                        <span>Remote</span>
                    </f:else>
                </li>
            </f:if>

            <f:if condition="{job.salary}">
                <li>
                    💰 <span>{job.salary}</span>
                </li>
            </f:if>
        </ul>
    </header>

    <!-- Description -->
    <section class="jobman-job-detail__content">
        <f:if condition="{job.description}">
            <div class="jobman-job-detail__description">
                <f:format.html>{job.description}</f:format.html>
            </div>
        </f:if>
        
        <f:if condition="{contactAddress}">
            <div class="jobman_contactbox">
            <h3>
                <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.contact"
                languageKey="{job:languageKey()}" />
            </h3>
            <f:if condition="{contactAddress.type} == 'tt_address'">
                <f:then>
                    <f:if condition="{contactAddress.company}">
                        <strong>{contactAddress.company}</strong><br />
                    </f:if>
                    <f:if condition="{contactAddress.name}">
                        <em>{contactAddress.name}</em><br />
                    </f:if>
                    <f:if condition="{contactAddress.street}">
                        {contactAddress.street}<br />
                    </f:if>
                    <f:if condition="{contactAddress.zip}">
                        {contactAddress.zip} 
                    </f:if>
                    <f:if condition="{contactAddress.city}">
                        {contactAddress.city}<br />
                    </f:if>
                    <f:if condition="{contactAddress.email}">
                        <f:link.email email="{contactAddress.email}">{contactAddress.email}</f:link.email>
                    </f:if>
                </f:then>
                <f:else>
                    <f:format.raw>{contactAddress.html}</f:format.raw>
                </f:else>
            </f:if>
            </div>
        </f:if>

        <!-- Button -->
         <f:if condition="{job.showButton}">
            
            <f:if condition="{job.buttonType} == 'link'">
                <f:link.external
                    uri="{job.externLink}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="apply_link">
                    <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:apply_now"
                languageKey="{job:languageKey()}" />
                </f:link.external>
                <f:else>
                    <f:link.action action="application" class="apply_link" rel="noopener noreferrer" additionalAttributes="{data-job: job.uid}" arguments="{job: job.uid}">

                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:apply_now"
                languageKey="{job:languageKey()}" />
                    </f:link.action>
                </f:else>
            </f:if>
         </f:if>

    </section>

    <!-- Footer -->
    <footer class="jobman-job-detail__footer">
        <f:if condition="{job.crdate}">
            <div class="jobman-job-detail__date">
                🕒
                <f:translate
                    key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.postedOn"
                    languageKey="{job:languageKey()}" />
                <time datetime="{f:format.date(date: job.tstamp, format: 'Y-m-d')}">
                    <f:format.date format="d.m.Y">{job.tstamp}</f:format.date>
                </time>
            </div>
        </f:if>

        <f:if condition="{job.views}">
            <div class="jobman-job-detail__views">
                👁 {job.views}
                <f:translate
                    key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.views"
                    languageKey="{job:languageKey()}" />
            </div>
        </f:if>
    </footer>

</div>
