

<div class="wrapper_joblist">
    <div class="backlink">
        <f:link.action action="index">
            <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:back_text" />
        </f:link.action>
    </div>

    <f:if condition="{no_page_selected}">
        <f:then>
            <div class="no_page_selected">
                    <p>
                        <f:sanitize.html>
                            <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:no_page_selected" />
                        </f:sanitize.html>
                    </p>
                </div>
        </f:then>
        <f:else>
            <div class="job-list">
    <h2>
        <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:all_jobs_headline" />
    </h2>

    <f:if condition="{jobs}">
        <f:then>
        <ul class="job-list__items">
            <f:for each="{jobs}" as="job" iteration="i">

                <li class="job-list__item">
                    <div class="job-list__info">
                        <span class="job-list__title">{job.job.title}</span>
                        <span class="job-list__meta">
                            {job.job.location}
                        </span>
                        <span class="job-list__viewCount">
                            <f:if condition="{job.viewCount} > 0">
                                <core:icon identifier="actions-view" size="small" title="Aufrufe im Frontend" /> {job.viewCount}
                            </f:if>
                        </span>
                    </div>
                    <div class="job-list__actions">
                        <!-- Edit -->
                        <a class="job-list__edit" href="{job.editLink}" title="Bearbeiten">
                            ✏️
                        </a>
                        <!-- Delete -->
                        <a href="{job.deleteLink}" class="js-open-delete-modal" data-url="{job.deleteLink}"> 
                                ❌
                            </a>

<div class="custom-modal" id="deleteModal">
    <div class="custom-modal__overlay"></div>

    <div class="custom-modal__box">
        <h3><f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:job_delete_title" /></h3>

        <p>
            <f:sanitize.html>
                <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:job_delete_text" />
            </f:sanitize.html>
        </p>

        <div class="custom-modal__actions">
            <button class="js-cancel"><f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:job_delete_cancel" /></button>
            <a href="#" class="js-confirm-delete"><f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:job_delete_confirm" /></a>
        </div>
    </div>
</div>
                    </div>
                </li>
            </f:for>
        </ul>
        </f:then>
    <f:else>
        <p>Keine Jobs gefunden.</p>
    </f:else>
    </f:if>
</div>

        </f:else>
    </f:if>


</div>