

<div class="wrapper_joblist">
    <f:if condition="{no_page_selected}">
        <f:then>
            <div class="no_page_selected">
                <p>
                    <f:sanitize.html>
                        <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:no_page_selected" />
                    </f:sanitize.html>
                </p>
            </div>
        </f:then>
        <f:else>
            <div class="header">
                <div class="link_new_create">
                    <a href="{createLink}">
                        <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:new_job" />
                    </a>
                </div>
                <div class="navigation">
                    <div class="link dashboard">
                        <a href="{dashboardLink}">
                            <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:dashboard" />
                        </a>
                    </div>
                    <div class="link allJobs">
                        <f:link.action action="allJobs">
                            <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:manage_jobs" />
                        </f:link.action>
                    </div>

                    <div class="link applications">
                        <f:link.action action="applications">
                            <f:translate key="LLL:EXT:jobman/Resources/Private/Language/locallang_db.xlf:applications" />
                        </f:link.action>
                    </div>
                    
                </div>
            </div>
        </f:else>
    </f:if>
</div>

