{namespace job=Lanius\Jobman\ViewHelpers}

<div class="jobman-tiles jobman-tiles--cols-{tileColumns}">
    <f:for each="{jobs}" as="job">
        <article class="jobman-tile">
            <h3 class="jobman-tile__title">
                <f:link.action
                    action="show"
                    arguments="{job: job}"
                    class="jobman-tile__link"
                >
                    {job.title}
                </f:link.action>
            </h3>

            <div class="jobman-tile__meta">
                <f:if condition="{job.location}">
                    <span class="jobman-tile__location">
                        📍 {job.location}
                    </span>
                </f:if>

                <f:if condition="{job.employmentType}">
 
                    <f:if condition="{job.employmentType} == 'CONTRACTOR'">
                    <span class="jobman-tile__type">💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.contractor"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>



                <f:if condition="{job.employmentType} == 'FULL_TIME'">
                    <span class="jobman-tile__type">💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.fulltime"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>


                <f:if condition="{job.employmentType} == 'PART_TIME'">
                    <span class="jobman-tile__type">💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.parttime"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>


                <f:if condition="{job.employmentType} == 'TEMPORARY'">
                    <span class="jobman-tile__type">💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.temporary"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>


                <f:if condition="{job.employmentType} == 'INTERN'">
                    <span class="jobman-tile__type">💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.intern"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>

                <f:if condition="{job.employmentType} == 'VOLUNTEER'">
                    <span class="jobman-tile__type">💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.volunteer"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>

                <f:if condition="{job.employmentType} == 'PER_DIEM'">
                    <span class="jobman-tile__type">💼
                        <f:translate
                key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.per_diem"
                languageKey="{job:languageKey()}" />
                    </span>
                </f:if>

                </f:if>
            </div>

            <f:if condition="{job.salary}">
                <div class="jobman-tile__salary">
                    💰 {job.salary}
                </div>
            </f:if>

            <div class="jobman-tile__footer">
                <span class="jobman-tile__cta">
                    <f:link.action action="show" arguments="{job: job}" class="jobman-job__link">
                        <f:translate 
    key="LLL:EXT:jobman/Resources/Private/Language/locallang.xlf:job.showJob"
    languageKey="{job:languageKey()}" /> →
                    </f:link.action>
                </span>
            </div>
        </article>
    </f:for>
</div>
